<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="{{ site.baseurl }}public/me.jpg" alt="brandon's face" />
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <span class="sidebar-nav-item">Connect: </span>
      <span>
      <a class="sidebar-nav-item" href="mailto:b@brandonfannin.com?subject=My%20old%20friend&amp;body=I've%20come%20to%20talk%20with%20you%20again"><i class="fas fa-envelope-square"></i></a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/brandon-fannin/"><i class="fab fa-linkedin"></i></a>
      <a class="sidebar-nav-item" href="https://github.com/beefan"><i class="fab fa-github-square"></i></a>
      </span>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}public/brandonfannin_softwaredev.pdf" download><i class="far fa-file"></i> resume</a>
      <a class="sidebar-nav-item" href="{{ site.baseurl }}tech-elevator-blog"><i class="fas fa-location-arrow"></i></i> coding bootcamp blog</a>

    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
